@font-face {
  font-family: 'Merriweather';
  src: url('/dina-assets/fonts/merriweather/merriweather-variable.woff2')
      format('woff2'),
    url('/dina-assets/fonts/merriweather/merriweather-variable.woff')
      format('woff');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/dina-assets/fonts/merriweather/merriweather-italic-variable.woff2')
      format('woff2'),
    url('/dina-assets/fonts/merriweather/merriweather-italic-variable.woff')
      format('woff');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
