@font-face {
  font-family: 'Fredoka';
  src: url('/joey-assets/fonts/fredoka/fredoka-variable.woff2') format('woff2'),
    url('/joey-assets/fonts/fredoka/fredoka-variable.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
